In [1]:
# initializing otter-grader
import otter
grader = otter.Notebook()

## Lab 3: Pandas Overview

[Pandas](https://pandas.pydata.org/) is one of the most widely used Python libraries in data science. In this lab, you will learn commonly used data wrangling operations/tools in Pandas. We aim to give you familiarity with:

* Creating dataframes
* Slicing data frames (i.e. selecting rows and columns)
* Filtering data (using boolean arrays)

In this lab you are going to use several pandas methods, such as `drop` and `loc`.

**Note**: The Pandas interface is notoriously confusing, and the documentation is not consistently great. Be prepared to search through Pandas documentation and experiment, but remember it is part of the learning experience and will help shape you as a data scientist!

In [2]:
import numpy as np
import altair as alt
import pandas as pd

## Creating DataFrames & Basic Manipulations

A [dataframe](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe) is a table in which each column has a type; there is an index over the columns (typically string labels) and an index over the rows (typically ordinal numbers). An index is represented by the _series_ object, which is a one-dimensional labeled array.

The [docs](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) for the pandas `DataFrame` class  provide at least two syntaxes to create a data frame.

**Syntax 1:** You can create a data frame by specifying the columns and values using a dictionary as shown below. 

The keys of the dictionary are the column names, and the values of the dictionary are lists containing the row entries.

In [3]:
fruit_info = pd.DataFrame( # use the dictionary we called data
    data = { 'fruit': ['apple', 'orange', 'banana', 'raspberry'],
             'color': ['red', 'orange', 'yellow', 'pink']
           })
fruit_info

       fruit   color
0      apple     red
1     orange  orange
2     banana  yellow
3  raspberry    pink

**Syntax 2:** You can also define a dataframe by specifying the rows like below. 

Each row corresponds to a distinct tuple, and the columns are specified separately.

In [4]:
fruit_info2 = pd.DataFrame(
    [("apple", "red"), ("orange", "orange"), ("banana", "yellow"), ("raspberry", "pink")],
    columns = ["fruit", "color"]
)
fruit_info2

       fruit   color
0      apple     red
1     orange  orange
2     banana  yellow
3  raspberry    pink

You can obtain the dimensions of a dataframe by using the shape attribute `dataframe.shape`.

In [5]:
fruit_info.shape

(4, 2)

You can also convert the entire dataframe into a two-dimensional numpy array.

In [6]:
fruit_info2.values

array([['apple', 'red'],
       ['orange', 'orange'],
       ['banana', 'yellow'],
       ['raspberry', 'pink']], dtype=object)

### Question 1a

For a DataFrame `d`, you can add a column with `d['new column name'] = ...` and assign a list or array of values to the column. 

For this question, add to the `fruit_info` table a new column called `rank1` containing integers 1, 2, 3, and 4, which express your personal preference about the taste ordering for each fruit (1 is tastiest; 4 is least tasty). 

<!--
BEGIN QUESTION
name: q1a
manual: false
points: 5
gradescope: show
-->

In [7]:
# REPLACE "..." WITH SOLUTION
fruit_info['rank1'] = [1,2,3,4]
# Print fruit_info
fruit_info

       fruit   color  rank1
0      apple     red      1
1     orange  orange      2
2     banana  yellow      3
3  raspberry    pink      4

In [8]:
grader.check("q1a")

    All tests passed!

### Question 1b

You can also add a column to `d` using `d.loc[:, 'new column name'] = ...`. This way to modify an existing dataframe is faster and therefore preferred over the assignment syntax above. As discussed in lecture, the first parameter is for the rows and the second is for columns. The `:` means change all rows and the `'new column name'` indicates the column you are modifying (or in this case, adding). 

Add a column called `rank2` to the `fruit_info` table, which contains the same values in the same order as the `rank1` column.

<!--
BEGIN QUESTION
name: q1b
manual: false
points: 5
gradescope: show
-->

In [9]:
# REPLACE "..." WITH SOLUTION
fruit_info.loc[:, 'rank2'] = [1,2,3,4]
# Print fruit_info
fruit_info

       fruit   color  rank1  rank2
0      apple     red      1      1
1     orange  orange      2      2
2     banana  yellow      3      3
3  raspberry    pink      4      4

In [10]:
grader.check("q1b")

    All tests passed!

### Question 2

Use the `.drop()` method to [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) both the `rank1` and `rank2` columns you created. (Make sure to use the `axis` parameter correctly.) Note that `drop` **does not change the table**, but instead **returns a new table** with fewer columns or rows unless you set the optional `inplace` parameter.
 In this case, we want a new table called `fruit_info_original`
*Hint*: Look through the documentation (linked at the beginning of the question) to see how you can drop multiple columns of a Pandas dataframe at once using a list of column names.

<!--
BEGIN QUESTION
name: q2
manual: false
points: 5
gradescope: show
-->

In [11]:
fruit_info_original = fruit_info.drop(['rank1','rank2'], axis=1)
fruit_info_original

       fruit   color
0      apple     red
1     orange  orange
2     banana  yellow
3  raspberry    pink

In [12]:
grader.check("q2")

    All tests passed!

### Question 3

Use the `.rename()` method to [rename](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) the columns of `fruit_info_original` so they begin with capital letters. Set the `inplace` parameter correctly to change the `fruit_info_original` dataframe.

<!--
BEGIN QUESTION
name: q3
manual: false
points: 5
gradescope: show
-->

In [38]:
# REPLACE "..." WITH SOLUTION
fruit_info_original.rename(columns={'fruit':'Fruit', 'color':'Color'}, inplace=True)
# Print fruit_info_original
fruit_info_original

       Fruit   Color
0      apple     red
1     orange  orange
2     banana  yellow
3  raspberry    pink

In [39]:
grader.check("q3")

    All tests passed!

### Babyname datasets
Now that we have learned the basics, let's move on to the babynames dataset. The babynames dataset contains a record of the given names of babies born in the United States each year.

First let's run the following cell to build the dataframe `baby_names`.

The following cell builds the full `baby_names` DataFrame. This isn't the focus of this week's lab, so we have written out the code for you. Feel free to use it as reference in future labs.

In [15]:
import zipfile
from pathlib import Path
namesbystate_path = Path("names.zip")
zf = zipfile.ZipFile(namesbystate_path, 'r')

column_labels = ['State', 'Sex', 'Year', 'Name', 'Count']

def load_dataframe_from_zip(zf, f):
    with zf.open(f) as fh: 
        return pd.read_csv(fh, header=None, names=column_labels)

# Create a list of dataframes from each state
names = [
    load_dataframe_from_zip(zf, f)
    for f in sorted(zf.filelist, key=lambda x:x.filename) 
    if f.filename.endswith('.csv')
]


baby_names = names[0]

The following cells are basic operations to run on a dataframe to see what the data looks like. 
* `len(df)` gives you the number of rows in a dataframe, so that you can see how large your dataset is. 
* `.head()` by default returns the first 5 rows of the dataframe so you can see how the dataframe is structured.

In [16]:
len(baby_names)

190762

In [17]:
baby_names.head()

  State Sex  Year       Name  Count
0    CA   F  1990    Jessica   6635
1    CA   F  1990     Ashley   4537
2    CA   F  1990  Stephanie   4001
3    CA   F  1990     Amanda   3856
4    CA   F  1990   Jennifer   3611

## Slicing Data Frames - selecting rows and columns

### Selection Using Label/Index (using loc)

**Column Selection** 

To select a column of a `DataFrame` by column label, the safest and fastest way is to use the `.loc` [method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html). General usage of `.loc` looks like `df.loc[rowname, colname]`. (Reminder that the colon `:` means "everything.")  For example, if we want the `color` column of the `ex` data frame, we would use: `ex.loc[:, 'color']`

- You can also slice across columns. For example, `baby_names.loc[:, 'Name':]` would select the column `Name` and all columns after `Name`.

- *Alternative:* While `.loc` is invaluable when writing production code, it may be a little too verbose for interactive use. One recommended alternative is the `[]` method, which takes on the form `df['colname']`.

**Row Selection**

Similarly, if we want to select a row by its label, we can use the same `.loc` method. In this case, the "label" of each row refers to the index (ie. primary key) of the dataframe.

In [18]:
#Example:
baby_names.loc[2:5, 'Name']

2    Stephanie
3       Amanda
4     Jennifer
5    Elizabeth
Name: Name, dtype: object

In [19]:
#Example:  Notice the difference between these two methods
#Just passing in 'Name' returns a Series while ['Name'] returns a Dataframe
baby_names.loc[2:5, ['Name']]

        Name
2  Stephanie
3     Amanda
4   Jennifer
5  Elizabeth

The `.loc` actually uses the Pandas row index rather than row id/position of rows in the dataframe to perform the selection. Also, notice that if you write `2:5` with `loc[]`, contrary to normal Python slicing functionality, the end index is included, so you get the row with index 5.

### Selection using Integer location (using iloc)

There is another pandas feature `iloc[]` which lets you slice the dataframe by row position and column position instead of by row index and column label (which is the case for `loc[]`). This is really the main difference between the 2 functions and it is **important** that you know the difference and why you might want to use one over the other. In addition, with `iloc[]`, the end index is NOT included, like with normal Python slicing.

As a mnemonic, remember that the i in `iloc` means "integer". 

Below, we have sorted the `baby_names` dataframe. Notice how the *position* of a row is not necessarily equal to the *index* of a row. For example, the first row is not necessarily the row associated with index 1. This distinction is important in understanding the difference between `loc[]` and `iloc[]`.

In [20]:
sorted_baby_names = baby_names.sort_values(by=['Name'])
sorted_baby_names.head()

       State Sex  Year   Name  Count
160797    CA   M  2008  Aadan      7
178791    CA   M  2014  Aadan      5
163914    CA   M  2009  Aadan      6
171112    CA   M  2012  Aaden     38
179928    CA   M  2015  Aaden     34

Here is an example of how we would get the 2nd, 3rd, and 4th rows with only the `Name` column of the `baby_names` dataframe using both `iloc[]` and `loc[]`. Observe the difference, especially after sorting `baby_names` by name.

In [21]:
sorted_baby_names.iloc[1:4, 3]

178791    Aadan
163914    Aadan
171112    Aaden
Name: Name, dtype: object

Notice that using `loc[]` with 1:4 gives different results, since it selects using the *index*. The *index* gets moved around when you perform an operation like `sort` on the dataframe.

In [22]:
sorted_baby_names.loc[1:4, "Name"]

1           Ashley
22219       Ashley
138598      Ashley
151978      Ashley
120624      Ashley
            ...
74380       Jennie
19395       Jennie
23061       Jennie
91825       Jennie
4         Jennifer
Name: Name, Length: 68640, dtype: object

Lastly, we can change the index of a dataframe using the `set_index` method.

In [23]:
#Example: We change the index from 0,1,2... to the Name column
df = baby_names[:5].set_index("Name") 
df

          State Sex  Year  Count
Name
Jessica      CA   F  1990   6635
Ashley       CA   F  1990   4537
Stephanie    CA   F  1990   4001
Amanda       CA   F  1990   3856
Jennifer     CA   F  1990   3611

We can now lookup rows by name directly:

In [24]:
df.loc[['Ashley', 'Jennifer'], :]

         State Sex  Year  Count
Name
Ashley      CA   F  1990   4537
Jennifer    CA   F  1990   3611

However, if we still want to access rows by location we will need to use the integer loc (`iloc`) accessor:

In [25]:
#Example: 
#df.loc[2:5,"Year"] You can't do this
df.iloc[1:4, 2:3]

           Year
Name
Ashley     1990
Stephanie  1990
Amanda     1990

### Question 4

Selecting multiple columns is easy.  You just need to supply a list of column names.  Select the `Name` and `Year` **in that order** from the `baby_names` table.

<!--
BEGIN QUESTION
name: q4
manual: false
points: 5
gradescope: show
-->

In [26]:
name_and_year = baby_names.loc[:, ['Name', 'Year']]

In [27]:
grader.check("q4")

    All tests passed!

Note that `.loc[]` can be used to re-order the columns within a dataframe.

## Filtering Data

### Filtering with boolean arrays

Filtering is the process of removing unwanted material.  In your quest for cleaner data, you will undoubtedly filter your data at some point: whether it be for clearing up cases with missing values, for culling out fishy outliers, or for analyzing subgroups of your data set.  Note that compound expressions have to be grouped with parentheses. Example usage looks like `df[df['column name'] < 5]]`.

For your reference, some commonly used comparison operators are given below.

Symbol | Usage      | Meaning 
------ | ---------- | -------------------------------------
==   | a == b   | Does a equal b?
<=   | a <= b   | Is a less than or equal to b?
>=   | a >= b   | Is a greater than or equal to b?
<    | a < b    | Is a less than b?
&#62;    | a &#62; b    | Is a greater than b?
~    | ~p       | Returns negation of p
&#124; | p &#124; q | p OR q
&    | p & q    | p AND q
^  | p ^ q | p XOR q (exclusive or)

In the following we construct the DataFrame containing only names registered in California

In [28]:
ca = baby_names[baby_names['State'] == 'CA']

### Question 5
Using a boolean array, select the names in Year 2000 (from `baby_names`) that have larger than 3000 counts. Keep all columns from the original `baby_names` dataframe.

Note: Any time you use `p & q` to filter the dataframe, make sure to use `df[df[(p) & (q)]]` or `df.loc[df[(p) & (q)]])`. That is, make sure to wrap conditions with parentheses.

**Remember** that both slicing and `loc` will achieve the same result, it is just that `loc` is typically faster in production. You are free to use whichever one you would like.

<!--
BEGIN QUESTION
name: q5
manual: false
points: 5
gradescope: show
-->

In [29]:
result = baby_names[baby_names['Year'] == 2000][baby_names['Count'] > 3000]
result

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

       State Sex  Year         Name  Count
137243    CA   M  2000       Daniel   4341
137244    CA   M  2000      Anthony   3838
137245    CA   M  2000         Jose   3803
137246    CA   M  2000       Andrew   3600
137247    CA   M  2000      Michael   3572
137248    CA   M  2000        Jacob   3520
137249    CA   M  2000       Joshua   3356
137250    CA   M  2000  Christopher   3336
137251    CA   M  2000        David   3280
137252    CA   M  2000      Matthew   3254

In [30]:
grader.check("q5")

    All tests passed!

### Question 6a

Some names gain/lose popularity because of cultural phenomena such as a political figure coming to power. Below, filter the dataframe `baby_names` to find the popularity of the **male** name "**Liam**" in **Calfiornia** over time. Then plot the popularity over time. Think about why the graph looks like this. Was there an actor that starred in a popular movie series recently?

<!--
BEGIN QUESTION
name: q6a
manual: false
points: 5
gradescope: show
-->

In [31]:
# YOUR SOLUTION
liam_baby_name = baby_names[baby_names['Name'] == 'Liam']

# REPLACE "..." WITH PLOTTING CODE 
alt.Chart(liam_baby_name).mark_line().encode(
    x='Year',
    y='Count'
)

alt.Chart(...)

In [32]:
grader.check("q6a")

    All tests passed!

### Question 6b

Below, we see code that aggregates across all 50 states. Try other names, including world leaders. In future labs, we will explore the [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) function more as this is an important function in reducing large datasets. For now, we will give you the code, which you can use as an example in the future.

Pick either a political name or a celebrity name that you want to analyze, and plot it. Some examples are Hillary, Justin, Bill, Taylor, etc.

For the curious: `reset_index` changes the index into a sequence of numbers from 0 to N - 1. `@name_of_interest` inside the query argument tells `query` to use the Python variable called `name_of_interest`.

<!--
BEGIN QUESTION
name: q6b
manual: true
points: 10
gradescope: show
-->
<!-- EXPORT TO PDF -->

In [33]:
counts_aggregated_by_name_and_year = baby_names.groupby(["Name", "Year"])["Count"].sum().reset_index()

In [34]:
name_of_interest = 'Kobe'
chosen_baby_name = counts_aggregated_by_name_and_year.query("Name == @name_of_interest")

# REPLACE "..." WITH PLOTTING CODE 
alt.Chart(chosen_baby_name).mark_line().encode(
    x='Year',
    y='Count'
)

alt.Chart(...)

In the markdown cell below, answer the following questions

1. What do you notice about this plot?
2. What could be the cause of the shape of the plot? (Pick a different name to analyze if there is nothing of interest)

1. Sharp increase between 1996 - 2003

2. 1996 - Year Kobe was drafted. RIP my love.

# Survey
Now that you have an idea of how the course is being run, we would like to get your feedback on how you are situated, potential challenges to taking the course online, and your suggestions on how to make this course better for you.
For each question below, select an option that matches best how you feel about the statement.
Note that this is an anonymous survey. 
There is only 1 page, so after you click on the "Next" button after the "Last question" field, your responses will be submitted. Please submit your responses only once.
After you complete and submit the survey, you should see a string that you need to use as the answer to this question -- **don't close the survey window until you see that message**.
Here's the link to the survey: https://ucsb.co1.qualtrics.com/jfe/form/SV_03f6wVzN1ry5Nw9

<!--
BEGIN QUESTION
name: q7
manual: false
points: 5
gradescope: hide
-->

In [35]:
survey = "ds100surveykey"

# Running Built-in Tests
1. All tests are in `tests` directory
1. Each python file in `tests` is a test
1. `grader.check('testname')` runs test `'testname'`, e.g. `'q1'`
1. `grader.check_all()` runs all visible tests

In [41]:
# Run built-in checks
grader.check_all()

In [37]:
# Generate pdf in classic notebook (does not work in JupyterLab)
import nb2pdf
nb2pdf.convert('lab03.ipynb')

# To generate pdf using command-line, run in terminal,
# nb2pdf lab03.ipynb

## Submission Checklist
1. Check filename is 'lab03.ipynb'
1. Save file to confirm all changes are on disk
1. Run *Kernel > Restart & Run All* to execute all code from top to bottom
1. Check `grader.check_all()` output
1. Save file again to write any new output to disk
1. Check generated pdf that all responses are displayed correctly
1. Submit to Gradescope